*{
    margin: 0px;

}
header{
    height: 66px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.logo-li{
    display: flex;

}
ul{
    display: flex;
    gap: 20px;
    padding: 25px;
}

header ul{
    list-style: none;
    color: #030346;
 }
 .main{
    width: 100;
    height: 700px;
    background: linear-gradient(to left bottom, blue, #069eda);
    display: flex;
    justify-content: space-between;
 }
.white{
    color: white;
}
.main h1{
    font-size: 45px;
    font-family:  "Archivo Black", sans-serif;
    line-height: 40px;
}
.main p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

 .cursor{
    cursor: pointer;
 }
 
 .left-part{
    width: 30%;
     margin-left: 20px;
     margin-top: 20px;
}
 
 .get-started{
   
    width: 200px;
    height: 60px;
    background-color: #ffd662;
    border: #ffd662;
    color: #2a3c77;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 .section2{
    background-color: #ffff;
    width: 100%;
    height: 900px;
    border-radius: 20px;
    margin-top: -20px;
    color: black;
 }
 .section2 h4, h1,p{
display: flex;
justify-content: center;
 }
  .section2 h1{
    font-size: 45px;
    font-family:  "Archivo Black", sans-serif;
 }
 .host-main ul{
    list-style: none;
   display: block;
 }
 .host-main li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .xx-strong{
    font-size: 50px;
    font-family:  fantasy;
    color: #2332be;
 }
 .highlight-heading{
    color: #2332be;
 }
 .host-right-pic-li{
    display: flex;
    border-radius: 20px;
    background-color: rgb(176, 228, 231);
    width: 850px;
   
 }

 .host-pic img{
    border-top-left-radius: 20px;
    border-end-start-radius:20px ;
    height: 450px;
 }
 .five-stars{
    background-color: #33ca8b;
    color: white;
    
 }
 .one-star{
    color: #33ca8b;
 }
 .host-main{
    display: flex;
    justify-content: space-evenly;
 }

 