nav h4{
    
  display: inline;  
}
div{
     display: inline; 
}
button{
text-align: end;
}
.logo{
    width: 100px;
    height: auto;
}
body{
     color: #fff; 
    background-color: rgb(16, 16, 70);
}
header{
    width: 100%;
    height: 100px;
    color: #fff;
    display: inline;
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


.main{

   justify-content: center;
display: flex ;
column-gap: 50px;
flex-wrap: wrap;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    border: 2px solid #35489f; 
    background-color: #230a57;
    text-align: center;
border-radius: 8px;
padding: 20px;
}
.domain{
    border: 2px solid #967cf3; 
    background-color: #ab96ec;
border-radius: 44px;
color: #230a57;
width: 50%;

display: block;
justify-content: center;
}
.aidomain{
     
    width: 50%;
    border-radius: 44px;
}
.mother{
    display: flex;
    background-color: #34127e;
    justify-content: center;
    border-radius: 44px;
    width: 100%;
    max-width: 450px;
    padding: 8px;
}
.grandmom{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;

}
.input{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    width: 650px;
    height: 50px;
}
.search{
    
}


/* .box1{
    border: 2px solid #fff; 
border-radius: 4px;
padding: 20px;
margin: 20px;
}
.box2{
    
border: 2px solid #fff; 
border-radius: 4px;
padding: 20px;
margin: 20px;
}
.box3{
   border: 2px solid #fff; 
border-radius: 4px;

padding: 20px;
margin: 20px;
}
.box4{
    border: 2px solid #fff; 
border-radius: 4px;
padding: 20px;
margin: 20px;
}
.box5{
    border: 2px solid #fff; 
border-radius: 4px;

padding: 20px;
margin: 20px;
}
.box6{
    
border: 2px solid #fff; 
border-radius: 4px;
padding: 20px;
margin: 20px;
} */
