/* nav h4{
    
  display: inline;  
} */
/* div{
     display: inline; 
} */
/* button{
text-align: end;
} */
/* .logo{
    width: 100px;
    height: auto;
} */
body{
     color: #fff; 
    background-color: rgb(16, 16, 70);
}
.mainheader{
     width: 100%;
    height: 100px;
    display: flex;
}
header{
   justify-content: space-between;
     display: inline;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.grandmom{
    display: flex;
    justify-content: center;
}

.mother{
    display: flex;
    background-color: #34127e;
    justify-content: center;
    border-radius: 44px;
    width: 100%;
    max-width: 450px;
    padding: 8px;
    
}
.domain{
     
    background-color: #ab96ec;
border-radius: 44px;
color: #230a57;
width: 50%;
display: block;
justify-content: center;
}
.aidomain{
    width: 50%;
    display: flex;

}
.prio1{
    display: flex;
    padding: 40px;
    justify-content: center;
}
input{
    
    display: flex;
   
    width: 600px;
    height: 50px;
    border: none;
    outline: 0;
    
}
.input{
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
     border-radius: 7px;
     padding: 4px;
}

button{
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    background-color: #35489f;

}
/* .search{
    background-color: #34127e;
    color: #34127e;
    padding: 35px;
    display: flex;
    width: 20px;
    
} */

.main{

   justify-content: center;
display: flex ;
column-gap: 50px;
flex-wrap: wrap;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    border: 2px solid #35489f; 
    background-color: #230a57;
    text-align: center;
border-radius: 8px;
padding: 20px;
}


