
.sec1{
     color: #fff; 
    background-color: #101046;
}
.mainheader{
     width: 100%;
    height: 100px;
    display: flex;
    padding: 23px;
    color: #fff; 
    background-color: #101046;
}
     

header{
   justify-content: space-between;
   display: flex;
  align-items: center;
     /* display: inline; */
}
.container{
    justify-content: space-between;
   display: flex;
   
}
.side{
    justify-content: end;
    display: flex;

    width: 710px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.grandmom{
    display: flex;
    justify-content: center;
}

.mother{
    display: flex;
    background-color: #34127e;
    justify-content: center;
    border-radius: 44px;
    width: 100%;
    max-width: 450px;
    padding: 8px;
    
}
.domain{
     
    background-color: #ab96ec;
border-radius: 44px;
color: #230a57;
width: 50%;
display: block;
justify-content: center;
}
.aidomain{
    width: 50%;
    display: flex;

}
.prio1{
    display: flex;
    padding: 40px;
    justify-content: center;
}
input{
    
    display: flex;
   
    width: 600px;
    height: 50px;
    border: none;
    outline: 0;
    
}
.input{
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
     border-radius: 7px;
     padding: 4px;
}

button{
   border-color:#fff ;
   background-color: #101046;
color: #fff;
border-radius: 6px;
width: 80px;
height: 50px;
}
#button{
 border: none;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    background-color:#451f8b ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{

   justify-content: center;
display: flex ;
gap: 8px;
/* flex-wrap: wrap; */

}
.box1, .box2, .box3, .box4, .box5, .box6{
    border: 2px solid #35489f; 
    background-color: #230a57;
    text-align: center;
    
border-radius: 8px;
padding: 25px;
width: 70px;
height: 50px;

}


