#try{
    color: pink;
    background-color: rgba(93, 173, 129, 0.945);
    
}

#test{
color: #39dbd3;
background-color: black;

}
#endoo{
 color: #b5d404;
background-color: rgb(207, 13, 149); 
display: inline;  
}


    




