*{
    margin: 0;
    padding: 0;
}
.logo{
    
    height: 8px;
    display: flex;
    cursor: pointer;
    

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 0px;
    
}

.topdiv{
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 60px;
    background-color: #fff;
    align-items: center;
    padding-inline: 20px;
    left: 0;
    z-index: 1;
}
.topdiv li{
display: none;
}
.bars{
    cursor: pointer;
}
.maincontainer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-direction: column;
}
.main1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width:576px){
    .topdiv li{
        display: block;
    }
    .topdiv .bars{
display: none;
    }
    .maincontainer{
        flex-direction: row;
    }
    .main1{
        flex-direction: row;
    }
}
.main{
    background-image: url(https://thenamevishnu.github.io/volvo-cars/images/home-page-background.avif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    color: #fff;
}
.main button{
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;

}
.main button:hover{
    color: gray;

}

.main .text{
    padding-top: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
span{
    color: gray;
}
.textmain{
    padding: 60px;
}
.forallpic{
    display: flex;

}
.bottompic{
    display: flex;
   
}


.forallpic{
     display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 2px;
}
.forallpic img{
    width: 100%;
}
.bottompic{
     display: flex;
    gap: 6px;
    
}
.allinone{
    display: flex;
    justify-content: center;
}
.rightpic{
     height: 335px;
     width: 50%;
     overflow: hidden;
     
}
.leftpic{
     height: 335px;
     width: 50%;  
}

.mainbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px;
}
.mainbutton button{
    border-radius: 6px;
     height: 40px;
     width: 250px;
     align-content: center;
     color: rgb(59, 115, 235);
     border-color:  rgb(59, 115, 235);
     cursor: pointer;
     background-color: #fff;
      border-width: 1px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 1px;
     
}
.mainbutton :hover{
    background-color: rgb(59, 115, 235);
    color: #fff;
}
.featured{
    padding: 60px;
    text-align: center;
}
.animation{
    position: relative;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes move{
    from{
        left: 0;
    }
    to{
        left: 500px;
    }
}
.overflow{
    overflow: hidden;
}
.featured h1{
    position: relative;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.featured{
    overflow: hidden;
}




.s90 img{

    display: flex;
    width: 100%;
    height: 400px;
    
}
.xc60 img{
    display: flex;
    width: 100%;
    height: 400px;
}
.buttons button{
    text-align:center;
    color: blue;
    width: 200px;
    height: 60px;
    cursor: pointer;
    border: none;
     padding: 15px;
     background-color: #fff;
     
} 

h1{
    text-align: center;
}


.m1,.m2{
padding: 20px;
}
.price button{
    color:black;
    background-color: #fff;
    border: none;
    text-align: start;
    cursor: pointer;
}
.price button:hover{
    color: blue;
}
.main1 img:hover{
    scale: 1.15;
}
.pic img{
display: flex;
    width: 100%;
    transition: 0.4s;
}

.but{
    justify-content: center;
    display: flex;
}

.bigpic{
    justify-content: center;
    display: flex;
    padding: 40px;

}

.bigpic img{
    width: 100%;
    
    
}
.text button{
    /* background-color: #fff; */
  
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.divs{
    display: flex;
}
div{
    padding: 20px;
}

.bigpic2{
display: flex;
justify-content: center;
position: relative;
}

.bigpic2 .text{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    max-width: 400px;
    z-index: 1;
}
h5{
    text-align: center;
    padding: 60px;
    color: gray;
}

.bottom{
    display: flex;
    justify-content: center;
    gap: 15pc;
     color: rgb(59, 115, 235);

}
.bottomtexts1,.bottomtexts2{
    display: flex;
    justify-content: space-between;
    color: rgb(59, 115, 235);
     max-width: 100%;
     height: 50%;
     border-bottom: solid 1px;
     align-items: center;

    
}
.mainbottomtexts{
   
  display: flex;
    justify-content: center;
}
.bottomtexts1{
    border-block-width: 1px ;
    border-block-color: rgb(59, 115, 235);
    border-top: solid 1px; 
     display: flex;
       
}
.mbottomtexts{
    max-width: 600px;
    width: 100%;
    height: 10px;
    
}
.lefttop , .righttop , .leftdown , .rightdown {
    width: 100%;
    height: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.chevron{
    
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.comment{
    
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
   
    
}
