*{
    margin: 0;
    padding: 0;
}
.logo{
    
    height: 8px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 0px;
    padding-right: 40px;
}
.topdiv{
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    background-color: #fff;
    align-items: center;
    padding-inline: 20px;
    width: 100%;
    z-index: 1;
}
.main{
    background-image: url(https://thenamevishnu.github.io/volvo-cars/images/home-page-background.avif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    color: #fff;
}
.main button{
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;

}
.main button:hover{
    color: gray;

}

.main .text{
    padding-top: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
span{
    color: gray;
}
.textmain{
    padding: 60px;
}
.forallpic{
    display: flex;

}
.bottompic{
    display: flex;
   
}


.forallpic{
     display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 2px;
}
.forallpic img{
    width: 100%;
}
.bottompic{
     display: flex;
    gap: 6px;
}
.allinone{
    display: flex;
    justify-content: center;
}
.rightpic{
     height: 335px;
     width: 50%;
     overflow: hidden;
}
.leftpic{
     height: 335px;
     width: 50%;  
}

.mbutton{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 55px;
}
.mainbutton button{
    border-radius: 6px;
     height: 40px;
     width: 250px;
     align-content: center;
     color: rgb(59, 115, 235);
     border-color:  rgb(59, 115, 235);
     cursor: pointer;
     background-color: #fff;
      border-width: 1px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 1px;
     
}
.mainbutton :hover{
    background-color: rgb(59, 115, 235);
    color: #fff;
}
.featured{
    padding: 60px;
    text-align: center;
}

.maincontainer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.s90 img{

    display: flex;
    width: 520px;
    height: 400px;
    
}
.xc60 img{
    display: flex;
    width: 520px;
    height: 400px;
}
.buttons button{
    text-align:center;
    color: blue;
    width: 200px;
    height: 60px;
    cursor: pointer;
    border: none;
     padding: 15px;
     background-color: #fff;
     
} 

h1{
    text-align: center;
}

.main1{
    display: flex;
    justify-content: center;
}
.m1,.m2{
padding: 20px;
}
.pic img{
display: flex;
    width: 520px;
    transition: 0.4s;
}

.but{
    justify-content: center;
    display: flex;
}

.bigpic{
    justify-content: center;
    display: flex;
    padding: 40px;

}

.bigpic img{
    width: 100%;
    display: flex;
    
    height: 600px;
}
.divs{
    display: flex;
}
div{
    padding: 20px;
}
.bigpic2 img{
    width: 100%;
    height: 800px;
    padding: 60px;
}
.bigpic2{
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;

}
.bigpic2 .text{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    max-width: 400px;
    z-index: 1;
}
.text button{
    /* background-color: #fff; */
    width: 110px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
h5{
    text-align: center;
    padding: 90px;
}
.comment{
    position: fixed;
    /* right:500px; */
    text-align: end;
    text-align: right;
    
}