*{
    margin: 0;
    padding: 0;
}
.logo{
    
    height: 8px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 0px;
    padding-right: 40px;
}
.topdiv{
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    background-color: #fff;
    align-items: center;
    padding-inline: 20px;
    width: 100%;
}
.main{
    background-image: url(https://thenamevishnu.github.io/volvo-cars/images/home-page-background.avif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    color: #fff;
}
.main button{
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;

}
.main button:hover{
    color: gray;

}

.main .text{
    padding-top: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
span{
    color: gray;
}
.textmain{
    padding: 60px;
}
.forallpic{
    display: flex;

}
.bottompic{
    display: flex;
   
}
/* .leftpic{ */
     /* width: 500px; */
    /* height: 300px; */
/* } */
.forallpic{
     display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 2px;
}
.forallpic img{
    width: 100%;
}
.bottompic{
     display: flex;
    gap: 6px;
}
.allinone{
    display: flex;
    justify-content: center;
}
.rightpic{
     height: 335px;
     width: 50%;
     overflow: hidden;
}
.leftpic{
     height: 335px;
     width: 50%;  
}
.rechargebutton{
    border: none ;
    height: 50px;
     width: 250px;
    color: rgb(30, 30, 214);
    border-radius: 6px;
    display: flex;
    padding: 10px;
    position: absolute;
    left: 600px;
    top: 1650px;
    cursor: pointer;
    justify-content: center;
    /* align-items: center; */

}
.rechargebutton :hover{
    background-color: blue;
    color: #fff;
}
.mainbutton{
display: flex;
    padding: 40px;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    
}

.piccontainer{
    display: flex;
    justify-content: center;
    background-color: red;
}

.s90{

    display: flex;
    width: 400px;
    height: 400px;
    
}
.xc60{
    display: flex;
    width: 400px;
    height: 400px;

}
.piccontainer button{
    text-align:center;
    color: blue;
    cursor: pointer;
    padding-bottom: 40px;
}

