.first-img{
height: 220px;

}
body{
    background-color:#f5f5f7;

}

.wwdc-icon{
    margin-left: 170px;
}

.wwdc-icon img{
    width: 110px;
    
    
}
.guides{
    background-color:#f5f5f7;
}

.cursor{
    cursor: pointer;
}

.a-line{
    margin-left: 18%;
    margin-right: 18%;
}
